includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	level: 5
	treatPhpDocTypesAsCertain: false
	paths:
		- src
		- tests/KdybyTests
	ignoreErrors:
		- "#Unsafe usage of new static\\(\\)\\.#"
		-
			message: "#Comparison operation .<. between \\d+ and \\d+ is always (true|false)\\.#"
			count: 2
			path: src/Latte\TranslateMacros.php
		-
			message: "#Comparison operation .>=. between \\d+ and 20900 is always (true|false)\\.#"
			count: 1
			path: src/Latte\TranslateMacros.php
		-
			message: "#Result of && is always (true|false)\\.#"
			count: 1
			path: src/Latte\TranslateMacros.php
